<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>KERASBot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Laila' ;" class="bg-[#0A525A] h-screen">
    <!-- Header -->
    <nav>
      <div class="h-full">
        <div class="w-full h-20 bg-[#F29F05] flex justify-end items-center px-10 gap-20">
            <a href="#" class="flex gap-1 text-white p-2 rounded-lg w-40 items-center justify-center whitespace-nowrap">
                <img src="./icon/dashboard.png" alt="" class="h-8 w-8">
                <p>Dashboard</p>
            </a>
            <a href="#" class="flex items-center gap-1 text-white">
                <div class="h-8 w-8 rounded-full bg-[#0A525A]"></div>
                <img src="./icon/logout.png" alt="" class="h-6 w-6 object-cover">
                <p>Logout</p>
            </a>
        </div>
    </nav>
    <!-- Header End  -->

    <!-- Chatbot Body -->
    <div class="chatbot-body">
      <div class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-robot"></i> KERASBot <i class="fas fa-robot"></i>
          </div>
        </header>
    
        <main class="msger-chat">
          <div class="msg left-msg">
            <div class="msg-img"></div>
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">KERASBot</div>
              </div>
    
              <div class="msg-text">
                👋 Hi!. Selamat datang di Web Pencegahan dan Penanganan Kekerasan Seksual, ada yang bisa kami bantu?
              </div>
            </div>
          </div>
        </main>
    
        <form class="msger-inputarea">
          <input type="text" class="msger-input" id="textInput" placeholder="Type a message...">
          <button type="submit"><img src="/static/images/4403524.png" alt="" class="w-8 h-8"></button>
        </form>
      </div>
    </div>
    <!-- Chatbot Body End  -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/all.js') }}"></script>
    <script>
      const msgerForm = get(".msger-inputarea");
      const msgerInput = get(".msger-input");
      const msgerChat = get(".msger-chat");

      // Icons made by Freepik from www.flaticon.com
      const BOT_IMG = "/static/images/kadekbot.png";
      const PERSON_IMG = "/static/images/user.png";
      const BOT_NAME = "KERASBot";
      const PERSON_NAME = "You";

      msgerForm.addEventListener("submit", event => {
        event.preventDefault();

        const msgText = msgerInput.value;
        if (!msgText) return;

        appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
        msgerInput.value = "";
        botResponse(msgText);
      });

      function appendMessage(name, img, side, text) {
        //   Simple solution for small apps
        const msgHTML = `
        <div class="msg ${side}-msg">
          <div class="msg-img" style="background-image: url(${img})"></div>

          <div class="msg-bubble">
            <div class="msg-info">
              <div class="msg-info-name">${name}</div>
            </div>

            <div class="msg-text">${text}</div>
          </div>
        </div>
        `;

        msgerChat.insertAdjacentHTML("beforeend", msgHTML);
        msgerChat.scrollTop += 500;
      }

      function botResponse(rawText) {
        // Bot Response
        $.get("/get", { msg: rawText }).done(function (data) {
          console.log(rawText);
          console.log(data);
          const msgText = data;
          appendMessage(BOT_NAME, BOT_IMG, "left", msgText);

        });

      }

      // Utils
      function get(selector, root = document) {
        return root.querySelector(selector);
      }

      function formatDate(date) {
        const h = "0" + date.getHours();
        const m = "0" + date.getMinutes();

        return `${h.slice(-2)}:${m.slice(-2)}`;
      }
    </script>
</body>

</html>